/*HEADER*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.contacto{
    color: rgb(18, 147, 212);
}

a{
    text-decoration: none;
    color: white;
}

header{
    height: 100px;
    display: flex;
    background-color: rgb(36, 40, 43);
    color: white;
    justify-content: space-around;
    align-items: center;
}

ul :hover{
    color: rgb(18, 147, 212);
    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-evenly;
    width:30%;
}

li{
    list-style: none;
}

.borde_header{
    width: 100%;
    height: 5px;
    background-color: rgb(18, 147, 212);
}

.H1_AZUL{
    color: rgb(18, 147, 212);
}
/*BODY*/

.lorem1{
    font-size: 20px;
}

.titulo_imagen{
    font-size: 80px;
}

section{
    display: flex;
    color: white;
    background: url("../images/cabecera.jpg") 0 -400px;
    text-align: center;
    background-size: cover;
    font-size: 200%;
    height: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.suscribete{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
    color: white;
    border: 1px solid rgb(36, 40, 43);
    height: 94px;
    background-color: rgb(36, 40, 43);
}

.suscribete1 input{
    width: 260px;
    height: 31px;

}
.suscribete1 button{
    height: 35px;
    width: 112px;
    background-color: rgb(232, 73, 29);
    color: white;

}

.info{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-around;
}


.input input{

    width: 703px;
    height: 40px;
}

.mensaje input{
    height: 125px;
    width: 703px;

}
.enviar{
    text-align: center;
    color: white;
    background-color: rgb(232, 73, 29);
    width: 703px;
    height: 43px;
}

.izquierda{
    margin: 0 -180px 0 0;
}

.img{
    width: 79%;
 
}

.QH{
    background-color: rgb(53, 66, 74);
    color: white;
    padding: 15px;
}

.ubi img{
    width: 345px;
    height: 323px;
}

.derecha{
    margin: 0 0 0 143px;
}

/*FOOTER*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid;
    color: white;
    background-color: rgb(18, 147, 212);
    height: 117px;
}

@media(max-width:1000px){
    ul :hover{
        color: rgb(18, 147, 212);
        cursor: pointer;
    }
    
    ul{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        justify-content: space-between;
        width:33%;
    }  

    .input input{

        width: 560px;
        height: 40px;
    }
    
    .mensaje input{
        height: 125px;
        width: 560px;
    }

    .enviar{
        width: 560px;
    }
}

@media(max-width:900px){
    ul :hover{
        color: rgb(212, 18, 18);
        cursor: pointer;
    }
    
    ul{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        justify-content: space-between;
        width:36%;
    }
    .input input{

        width: 500px;
        height: 40px;
    }

    .mensaje input{
        height: 125px;
        width: 500px;
    }

    .enviar{
        width: 500px;
    }
}

@media(max-width:820px){
    ul{

        width:40%;
    }
    .input input{

        width: 455px;
        height: 40px;
    }

    .mensaje input{
        height: 125px;
        width: 455px;
    }

    .enviar{
        width: 500px
    }
}