/*HEADER*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.inicio{
    color: rgb(18, 147, 212);
}

a{
    text-decoration: none;
    color: white;
}

header{
    height: 100px;
    display: flex;
    background-color: rgb(36, 40, 43);
    color: white;
    justify-content: space-around;
    align-items: center;
}

ul :hover{
    color: rgb(18, 147, 212);
    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-evenly;
    width:30%;
}

li{
    list-style: none;
}

.borde_header{
    width: 100%;
    height: 5px;
    background-color: rgb(18, 147, 212);
}

.H1_AZUL{
    color: rgb(18, 147, 212);
}

/*BODY*/

.lorem1{
    font-size: 20px;
}

.titulo_imagen{
    font-size: 80px;
}

section{
    display: flex;
    color: white;
    background: url("../images/cabecera.jpg") 0 -400px;
    text-align: center;
    background-size: cover;
    font-size: 200%;
    height: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.suscribete{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
    color: white;
    border: 1px solid rgb(36, 40, 43);
    height: 94px;
    background-color: rgb(36, 40, 43);
}

.suscribete1 input{
    width: 260px;
    height: 31px;

}
.suscribete1 button{
    height: 35px;
    width: 112px;
    background-color: rgb(232, 73, 29);
    color: white;

}

/*SECCION DE LOGOS*/

.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 375px;
    justify-content: space-evenly;
    
}

.HTML{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
.HTML img{
    width: 35%;
}


.CSS{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
.CSS img{
    width: 35%;
}

.diseño{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.diseño img{
    width: 35%;
}

/*FOOTER*/



footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid;
    color: white;
    background-color: rgb(18, 147, 212);
    height: 117px;
}



@media(max-width:1000px){
    ul :hover{
        color: rgb(18, 147, 212);
        cursor: pointer;
    }
    
    ul{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        justify-content: space-between;
        width:33%;
    }  
}



@media(max-width:900px){
    ul :hover{
        color: rgb(212, 18, 18);
        cursor: pointer;
    }
    
    ul{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        justify-content: space-between;
        width:36%;
    }  

    .lorem1{
        font-size: 22px;
    }
}



@media(max-width:820px){
    ul{

        width:40%;
    }
}